/*ESTILOS DEL MINI SITIO */
*{
    box-sizing: border-box;
}
main{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 16px;
}
body {
    background-color: beige;
    font-family: arial sans-serif;
    line-height: 1.5;
    color: saddlebrown;
}
h1{
    font-size: 35px;
    color: black;
}
h2{
    font-size: 28px;
    color: black
}
.tarjeta{
    background-color: lightyellow;
    padding: 16px;
    border: 1px solid saddlebrown;
    border-radius: 10px;
}
.tarjeta h3{
    color: darkcyan;
}
nav a{
    color: saddlebrown
}
nav a:hover, nav a:focus{
    color: black;
}
nav a:active{
    color: darkcyan;
}
input:focus, select:focus, textarea:focus{
    border: 4px solid darkred;
    outline: 2px solid salmon;
}
.perfil{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}
.aficiones{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

